<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Soccer!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/fontawesome/css/font-awesome.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/starter-template.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-info fixed-top">
            <a class="navbar-brand" href="{{ path('homepage') }}">Soccer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('homepage') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-outline-light">Logout</a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-outline-light">Login</a>
                {% endif %}
            </div>
        </nav>

        <main role="main" class="container">
            {% for message in app.session.flashBag.get('success') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
            <div class="starter-template">
                {% block body %}{% endblock %}
            </div>

        </main>

        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.2.1.slim.min.js') }}"></script>
            <script src="{{ asset('js/popper.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
