{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="display-1">Welcome To Soccer World!</h1>
    <p class="lead">If you are authorized then just login and create your favorite Teams & Players</p>
    <p class="lead">If NOT just check Teams & Players</p>
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('team_list') }}" class="btn btn-outline-info btn-lg">Teams</a>
        <a href="{{ path('player_list') }}" class="btn btn-outline-info btn-lg">Players</a><br><br>
    {% endif %}

    <button type="button" id="js-load-team" class="btn btn-outline-info btn-lg" data-toggle="modal" data-target=".bd-example-modal-lg">Click for Teams</button>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}