{% extends 'base.html.twig' %}

{% block body %}
    {% if playerForm.imageUri is defined %}
        <img src="{{ asset('uploads/images/') ~ player.imageUri }}" alt="{{ player.imageUri }}" height="300px" width="300px">
    {% endif %}
    {{ form_start(playerForm) }}
        {{ form_row(playerForm.firstName) }}
        {{ form_row(playerForm.lastName) }}
        {{ form_row(playerForm.imageUri) }}
    {{ form_end(playerForm) }}
{% endblock %}

