{% extends 'base.html.twig' %}

{% block body %}
    <div class="pull-right" style="margin-bottom: 10px;">
        <a href="{{ path('player_new') }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
    </div>
    <table id="players" class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Profile Picture</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <th scope="row">{{ player.id }}</th>
                <td><a href="{{ path('player_show', { id: player.id }) }}">{{ player.firstName|capitalize }}</a></td>
                <td><a href="{{ path('player_show', { id: player.id }) }}">{{ player.lastName|capitalize }}</a></td>
                <td>
                    <a href="{{ path('player_show', { id: player.id }) }}">
                        <img src="{{ asset('uploads/images/') ~ player.imageUri }}" alt="{{ player.firstName|capitalize }}" height="50px" width="50px">
                    </a>
                </td>
                <td>
                    <a href="{{ path('player_edit', { id: player.id }) }}" class="btn btn-xs btn-success">
                        <span class="fa fa-pencil"></span>
                    </a>
                    <a href="{{ path('player_delete', { id: player.id }) }}" id="{{ player.id }}" class="btn btn-xs btn-danger"  onclick="return confirm('Are you sure?')">
                        <span class="fa fa-remove"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}