{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(playerForm) }}
        {{ form_row(playerForm.firstName) }}
        {{ form_row(playerForm.lastName) }}
        {{ form_row(playerForm.imageUri) }}
    {{ form_end(playerForm) }}
{% endblock %}

