{% extends 'base.html.twig' %}

{% block body %}
    <div class="card mx-auto" style="width: 18rem;">
        <img class="card-img-top" src="{{ asset('uploads/images/' ~ player.imageUri) }}" alt="Card image cap" height="300px" width="300px">
        <div class="card-body">
            <h1>{{ player.firstName|capitalize ~ ' ' ~ player.lastName|capitalize }}</h1>
        </div>
    </div>
{% endblock %}

