{% extends 'base.html.twig' %}

{% block body %}
    {% if teamForm.logoUri is defined %}
        <img src="{{ asset('uploads/images/') ~ team.logoUri }}" alt="{{ team.name }}" height="300px" width="300px">
    {% endif %}
    {{ form_start(teamForm) }}
        {{ form_row(teamForm.name) }}
        {{ form_row(teamForm.logoUri) }}
    {{ form_end(teamForm) }}
{% endblock %}