{% extends 'base.html.twig' %}

{% block body %}
    <div class="pull-right" style="margin-bottom: 10px;">
        <a href="{{ path('team_new') }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
    </div>
    <table id="teams" class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Logo</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <th scope="row">{{ team.id }}</th>
                <td><a href="{{ path('team_show', { id: team.id }) }}">{{ team.name|capitalize }}</a></td>
                <td><img src="{{ asset('uploads/images/') ~ team.logoUri }}" alt="{{ team.name|capitalize }}" height="50px" width="50px"></td>
                <td>
                    <a href="{{ path('team_edit', { id: team.id }) }}" class="btn btn-xs btn-success">
                        <span class="fa fa-pencil"></span>
                    </a>
                    <a href="{{ path('team_delete', { id: team.id }) }}" id="{{ team.id }}" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure?')">
                        <span class="fa fa-remove"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}