{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(teamForm) }}
        {{ form_row(teamForm.name) }}
        {{ form_row(teamForm.logoUri) }}
    {{ form_end(teamForm) }}
{% endblock %}

